*{
    font-family: "Glory", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 10px;
    background: white;
}
.image{
    width: 50px;
    height: 50px;
}
.btn{
    border: none;
    cursor: pointer;
    background: none;
}
.title-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sub-title{
    font-weight: 500;
    font-size: 20px;
}
.container-btn{
    display: flex;
    gap: 10px;
}
.result-box{
    display: flex;
    gap: 10px;
}
.result{
    width: 80px;
    padding: 10px;
    text-align: center;
    border: 2px solid ;
    border-radius: 10px;
    font-weight: 500;
}
.win{
    border-color: green;
    color: green;
}
.lose{
    border-color: red;
    color: red;
}
.draw{
    border-color: grey;

}